body{
  text-align: center;
  padding-top: 11%;
  background-color:#70707038; 
  font-size: larger;
};
h1 {
  font-family: 'Cairo', sans-serif;
  
}
p {
  font-family: 'Cairo Play', cursive;
  font-size: x-large;
}
span {
  color: #777777;
}